@use "_color.scss" as c;
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 10px;
}

.bolder{
    font-weight: 700;
}

.alto-linea-25{
    line-height: 25px;
}

.color-gris{
    color: c.$color-primary;
}