@mixin btn-spaces{
    padding: 3vh 2.5vw;
}

.margen-top-alto{
    margin-top: 40px;
}

.margen-top-muy-alto{
    margin-top: 150px;
}

.margen-bottom{
    margin-bottom: 50px;
}

.margenes-2{
    margin-top: 20px;
    margin-bottom: 10px;
}

.margen-izquierda{
    margin-left: 20px;
}